{% extends "base.html" %}
{% block head %}
{{ super() }}
        <link href="/static/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/jquery-multi-select/css/multi-select.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block headtabs %}
					<li class="dropdown dropdown-fw active selected">
                                    <a href="{{ url_for('index') }}" class="text-uppercase">
                                        <i class="fa fa-globe"></i> S&H </a>
                                    <ul class="dropdown-menu dropdown-menu-fw">
                                    </ul>
                                </li>
			<li class="dropdown dropdown-fw  active open selected">
                                    <a href="javascript:;" class="text-uppercase">
                                        <i class="fa fa-cubes"></i> Rankings </a>
                                    <ul class="dropdown-menu dropdown-menu-fw">
                                        <li>
                                        <a href="{{url_for('ranking')}}">
                                          <button class=" btn btn-default">
                                                <i class="icon-list"></i> Ranking Combinado 
                                            </button></a>
                                        </li>
                                        <li class="active">
                                        <a href="javascript:;">
                                          <button class=" btn btn-default active">
                                                <i class="icon-list"></i> Ranking Social 
                                                </button></a>
                                        </li>
                                        <li>
                                        <a href="{{url_for('noticias')}}">
                                          <button class=" btn btn-default">
                                                <i class="icon-list"></i> Ranking Noticias 
                                            </button></a>
                                        </li>
                                      <!--
                                        <li>
                                            <a href="dashboard_3.html">
                                                <i class="icon-pie-chart"></i> Dashboard 3 </a>
                                        </li>
                                        <li>
                                            <a href="dashboard_3.html">
                                                <i class="icon-bar-chart"></i> Dashboard 3 </a>
                                        </li>

                                        -->
                                    </ul>
                                </li>
        <li class="dropdown dropdown-fw active selected">
                                <a href="/ppublicas" class="text-uppercase">
                                <i class="fa fa-university"></i> Politicas Pub </a>
                                <ul class="dropdown-menu dropdown-menu-fw">
                                </ul>
                                </li>
	        <li class="dropdown dropdown-fw active selected">
                                <a href="/corrs" class="text-uppercase">
                                <i class="fa fa-th"></i> Correlaciones </a>
                                <ul class="dropdown-menu dropdown-menu-fw">
                                </ul>
                                </li>
				<li class="dropdown dropdown-fw active selected">
                                    <a href="/reportes" class="text-uppercase">
                                        <i class="fa fa-download"></i> Reportes </a>
                                    <ul class="dropdown-menu dropdown-menu-fw">
                                    </ul>
                                </li>
			<li class="dropdown dropdown-fw active selected">
                                    <a href="/usuarios" class="text-uppercase">
                                        <i class="fa fa-users"></i> Usuarios </a>
                                    <ul class="dropdown-menu dropdown-menu-fw">
                                    </ul>
                                </li>

{% endblock %}

{% block content %}
<div class="page-content">
		<!-- BEGIN SELECTOR -->
                <h3>
                        Índice de Desempeño  en Medios Sociales (Comentarios y Publicaciones) 
                </h3>
                <p>
                El siguiente análisis muestra el desempeño estatal en la semana anterior (lunes a domingo anteriores) en la categoría:
                <b>{{ category.replace(".", " ") | capitalize() }}</b>. Analizados únicamente en los medios
                sociales.<br/>
                </p>
                <div class="row">
                <!-- BEGIN CATEGORY SELECTOR -->
                    <div class="col-md-3">
                        <form id="frmCategorias" name="frmCategorias" method="post">
                        <label for="ddlCategoria" class="control-label">Categoria</label>
                        <select id="ddlCategoria" name="ddlCategoria" class="form-control input-sm select2-multiple select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                            <optgroup label="Categorias">
                                <option value="general" {% if category == 'general' %} selected {% endif %}>General</option>
                                {% for item in categories %}
                                <option value="{{ item }}" {% if item == category %} selected {% endif %}>{{ item.replace(".", " ") |capitalize() }}</option>
                                {% endfor %}
                             </optgroup>
                        </select>
                        </form>
                    </div>
                <!-- END CATEGORY SELECTOR -->
                <br/>
                <button id="search-button" class="btn btn-circle green btn-sm" type="button">
                Buscar</button>
                </div>

                <br/>
                <!-- END SELECTORS -->
		<hr/>

		<div class="row">

		<div class="col-md-12">
			    		<!-- Extended timeline -->
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="icon-list font-dark"></i>
                                        <span class="caption-subject bold uppercase"> Estados que conforman el Índice</span>
                                    </div>
                                    <a href="/export/scores" target="_blank">
                                        <button class="btn btn-circle blue btn-sm" type="button" style="float:right">
                                        Exportar datos
                                    </button></a>
                                </div>
                                <div class="portlet-body">
                                    <div class="table-toolbar">
                                        <div class="row">
                                            <div class="col-md-6">
                                            </div>
                                            <div class="col-md-6">
                                            </div>
                                        </div>
                                    </div>

                                    <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_{{category}}">
                                        <thead>
                                            <tr>
                                                <th style="min-width:50px;background:#416CAF;color:white"> Estado </th>
                                                <th style="min-width:50px;background:#416CAF;color:white"> Ranking Semana Actual </th>
                                                <th style="min-width:50px;background:#416CAF;color:white"> Score Semana Actual </th>
                                                <th style="min-width:50px;background:#416CAF;color:white"> Ranking Semana Anterior</th>
                                                <th style="min-width:50px;background:#416CAF;color:white"> Score Semana Anterior</th>
                                                <th style="min-width:50px;background:#416CAF;color:white"> Cambio Ranking </th>
                                                <th style="min-width:50px;background:#416CAF;color:white"> Cambio Score </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for estado in rank_score_values %}
                                            <tr class="odd gradeX">
                                                <td class="span6" style="max-width:1000px">{{ estado[0] }}</td>
                                                <td style="text-align:center">{{ estado[1]['rank_semana_actual'] }}</td>
                                                <td style="text-align:center">{{ estado[1]['score_semana_actual'] }}</td>
                                                <td style="text-align:center">{{ estado[1]['rank_semana_ant'] }}</td>
                                                <td style="text-align:center">{{ estado[1]['score_semana_ant'] }}</td>
                                                <td style="text-align:center">
                                                    {% if estado[1]['var_ranking'] > 0 %}
                                                        <i class="fa fa-chevron-up" style="color:green"></i>&nbsp;
                                                    {% elif estado[1]['var_ranking'] < 0%}
                                                        <i class="fa fa-chevron-down" style="color:red"></i>&nbsp;
                                                    {% else %}
                                                        <i class="fa fa-chevron-right" style="color:green"></i>
                                                        <i class="fa fa-chevron-left" style="color:green"></i>&nbsp;
                                                    {% endif %}
                                                    {{ estado[1]['var_ranking'] }}
                                                </td>
                                                <td style="text-align:center">
                                                    {% if estado[1]['ptg_var_score'] > 0 %}
                                                        <i class="fa fa-chevron-up" style="color:green"></i>&nbsp;
                                                    {% elif estado[1]['ptg_var_score'] < 0%}
                                                        <i class="fa fa-chevron-down" style="color:red"></i>&nbsp;
                                                    {% else %}
                                                        <i class="fa fa-chevron-right" style="color:green"></i>
                                                        <i class="fa fa-chevron-left" style="color:green"></i>&nbsp;
                                                    {% endif %}
                                                    {{ '%.2f'%(estado[1]['ptg_var_score']) }}&nbsp;%
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->

				<div class="row">
					<div id="timeline-container" style="">
                        <div id="load" class="center"><img src="/static/assets/global/img/loading_blue_32x32.gif" />
                            &nbsp;
                            Generando gr&aacute;fica, por favor espere ...
                        </div>
                    </div>
				</div>

			<br/>
        </div> <!-- col-md-12 -->
        </div> <!-- row -->
		<div class="row">
		<!-- BEGIN STACK CHART CONTROLS PORTLET: POLARIDAD -->
                            <div class="portlet light portlet-fit bordered">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class=" icon-layers font-green"></i>
                                        <span class="caption-subject font-green bold uppercase">Polaridad por estados</span>
                                    </div>
                                    <div class="actions">
                                        <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                            <i class="icon-cloud-upload"></i>
                                        </a>
                                        <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                            <i class="icon-wrench"></i>
                                        </a>
                                        <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                            <i class="icon-trash"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div id="chart_{{category}}" style="height:350px;"> </div>
                                    <div class="btn-toolbar margin-top-20 margin-bottom-20"></div>
                                </div>
                            </div>
        <!-- END STACK CHART CONTROLS PORTLET: POLARIDAD -->
        </div>

    <b>Notas:</b><br/>
    1. La categoría “Servicios” incluye: salud, recolección de basura, servicio de agua y transporte público.
    <br/>2. La categoría “Obra Pública” incluye: Pavimentación y construcción de obras públicas en general
    <br/>3. La categoría “Gobierno” incluye: frases o menciones en donde se incluye la palabra “Gobierno”
    <hr><br/>
    Para conocer más acerca de la metodología, favor de visitar la página:.
          <a href="http://www.gcn-p.com/metodologia/">http://www.gcn-p.com/metodologia/</a>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
	<!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="/static/assets/global/scripts/datatable.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/flot/jquery.flot.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/flot/jquery.flot.resize.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/flot/jquery.flot.categories.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/flot/jquery.flot.pie.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/flot/jquery.flot.stack.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/flot/jquery.flot.crosshair.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/flot/jquery.flot.categories.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
	<!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
	<!--<script src="static/assets/pages/scripts/charts-flotcharts.min.js" type="text/javascript"/>-->
	<script type="text/javascript">
	// ######################################### CHARTS SCRIPT
var ChartsFlotcharts = function() {
    return {
        init: function() {
            App.addResizeHandler(function() {
            //    Charts.initPieCharts()
            })
        },
        initCharts: function() {
            function e() {
                for (s.length > 0 && (s = s.slice(1)); s.length < n;) {
                    var e = s.length > 0 ? s[s.length - 1] : 50,
                        t = e + 10 * Math.random() - 5;
                    0 > t && (t = 0), t > 100 && (t = 100), s.push(t)
                }
                for (var i = [], r = 0; r < s.length; ++r) i.push([r, s[r]]);
                return i
            }

            function a(topic,data) {
                function e(topic) {
                    $.plot($("#chart_"+topic), [
                    {
                        label: "Positivo",
                        data: t,
                        lines: {
                            lineWidth: 1
                        },
			            color: "green",
                        shadowSize: 0
                    }, {
                        label: "Negativo",
                        data: o,
                        lines: {
                            lineWidth: 1
                        },
			            color: "red",
                        shadowSize: 0
                    }], {
                        series: {
                            stack: a,
                            lines: {
                                show: n,
                                fill: !0,
                                //steps: l,
                                lineWidth: 0
                            },
                            bars: {
                                show: s,
                                barWidth: .5,
                                lineWidth: 0,
                                shadowSize: 0,
                                align: "center"
                            }
                        },
                        grid: {
                            tickColor: "#eee",
                            borderColor: "#eee",
                            borderWidth: 1
                        },
			            xaxis: {
           			        mode: "categories",
				            ticks:ticks,
            			    tickLength: 0,
        		        }
                    })
                }
                if (1 == $("#chart_"+topic).size()) {
		    
                    t = [];
		            o = [];
		            ticks = []
                    for (k in data.t){
                        ticks.push([parseInt(k),data.t[k][0]]);
                    }
                    for (i in data.t) t.push([i, data.t[i][1]])
                    for (i in data.t) o.push([i, data.o[i][1]])

                    var a = 0,
                        s = !0,
                        n = !1,
                        l = !1;
                    e(topic);
                }
            }
            if (jQuery.plot) {
                var s = [],
                    n = 250;
                var data = [
                    {
                            t:[{% for state in sentiments_rev %}
                                            ["{{state[0]}}", {{state[1]["positivo"]}}],
                              {% endfor %}],
                            o:[{% for state in sentiments_rev %}
                                            ["{{state[0]}}", {{state[1]["negativo"]}}],
                              {% endfor %}]
                    },
                ]
                //
                a('{{category}}',data[0]);
            }
        }
    }
}();
jQuery(document).ready(function() {

    $("#search-button").on("click", function() {
        $("#frmCategorias").submit();
    });

    ChartsFlotcharts.init(), ChartsFlotcharts.initCharts()
});
	</script>
        <script type="text/javascript">
var TableDatatablesManaged = function() {
    var e = function(topic) {
            var e = $("#sample_"+'{{category}}');
            e.dataTable({
                language: {
                    "sProcessing":     "Procesando...",
                    "sLengthMenu":     "Mostrar _MENU_ registros",
                    "sZeroRecords":    "No se encontraron resultados",
                    "sEmptyTable":     "Ningún dato disponible en esta tabla",
                    "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix":    "",
                    "sSearch":         "Buscar:",
                    "sUrl":            "",
                    "sInfoThousands":  ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst":    "Primero",
                        "sLast":     "Último",
                        "sNext":     "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },
                bStateSave: !0,
                columnDefs: [{
                    targets: 0,
                    orderable: !1,
                    searchable: !1
                }],
                pageLength: -1,
                pagingType: "bootstrap_full_number",
                columnDefs: [{
                    orderable: !1,
                    targets: [0]
                }, {
                    searchable: !1,
                    targets: [0]
                }],
                order: [
                    [1, "asc"]
                ],
               "paging": false,
            });
            jQuery("#sample_"+topic+"_wrapper");
            e.find(".group-checkable").change(function() {
                var e = jQuery(this).attr("data-set"),
                    t = jQuery(this).is(":checked");
                jQuery(e).each(function() {
                    t ? ($(this).attr("checked", !0), $(this).parents("tr").addClass("active")) : ($(this).attr("checked", !1), $(this).parents("tr").removeClass("active"))
                }), jQuery.uniform.update(e)
            }), e.on("change", "tbody tr .checkboxes", function() {
                $(this).parents("tr").toggleClass("active")
            })
    }

	jQuery().dataTable && (e('{{category}}'))

};
App.isAngularJsApp() === !1 && jQuery(document).ready(function() {
    TableDatatablesManaged();
});
	</script>
	<script src="/static/assets/pages/scripts/components-select2.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
        <script src="https://code.highcharts.com/stock/highstock.js"></script>
        <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>

<script>
	<!-- Timeline Extended Script -->	

        function createChart() {

        		$('#timeline-container').highcharts('StockChart', {

            		rangeSelector: {
                		selected: 1
            		},

            		yAxis: {
                		labels: {
                    		formatter: function () {
                        		return (this.value > 0 ? ' + ' : '') + this.value + '%';
                    		}
                		},
                		plotLines: [{
                    		value: 0,
                    		width: 2,
                    		color: 'silver'
                		}]
            		},

            		plotOptions: {
                		series: {
                    		compare: 'percent'
                		}
            		},

            		tooltip: {
                		pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.change}%)<br/>',
                		valueDecimals: 2
            		},

            		series: seriesOptions
        		});
        }

        var names = [
        {% for code in estados %}
          "{{ code }}",
        {% endfor %}
        ];

        var seriesOptions = [];
        var seriesCounter = 0 ;
        $.each(names, function (i, name) {

            $.getJSON('/api/score/states/'+name+'/{{category}}', function (data) {
            		seriesOptions[i] = {
                		name: name,
                		data: data
            		};
            		// As we're loading the data asynchronously, we don't know what order it will arrive. So
            		// we keep a counter and create the chart when all the data is loaded.
            		seriesCounter += 1;

            		if (seriesCounter === names.length) {
                		createChart();
            		}
            });
        });
	</script>
{% endblock %}

