{% extends "base.html" %}
{% block head %}
{{ super() }}
        <link href="/static/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/jquery-multi-select/css/multi-select.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />

{% endblock %}

{% block headtabs %}
        <li class="dropdown dropdown-fw active selected">
                        <a href="{{ url_for('index') }}" class="text-uppercase">
                        <i class="fa fa-globe"></i> S&H </a>
                        <ul class="dropdown-menu dropdown-menu-fw">
                        </ul>
                      </li>
         <li class="dropdown dropdown-fw  active open selected">
             <a href="javascript:;" class="text-uppercase">
                  <i class="fa fa-cubes"></i> Rankings </a>
                  <ul class="dropdown-menu dropdown-menu-fw">
                      <li class="active">
                          <a href="javascript:;">
                            <button class=" btn btn-default active"> <i class="icon-list"></i> Ranking Combinado
                          </button></a>
                      </li>
                      <li>
                          <a href="{{url_for('score')}}">
                            <button class=" btn btn-default">
                              <i class="icon-list"></i> Ranking Social </button></a>
                      </li>
                      <li>
                          <a href="{{url_for('noticias')}}">
                            <button class=" btn btn-default">
                              <i class="icon-list"></i> Ranking Noticias </button></a>
                      </li>
                 </ul>
        </li>
         <li class="dropdown dropdown-fw active selected">
             <a href="/ppublicas" class="text-uppercase">
             <i class="fa fa-university"></i> Politicas Pub </a>
             <ul class="dropdown-menu dropdown-menu-fw">
             </ul>
        </li>
        <li class="dropdown dropdown-fw active selected">
             <a href="/corrs" class="text-uppercase">
             <i class="fa fa-th"></i> Correlaciones </a>
             <ul class="dropdown-menu dropdown-menu-fw">
             </ul>
        </li>
        <li class="dropdown dropdown-fw active selected">
             <a href="/reportes" class="text-uppercase">
                 <i class="fa fa-download"></i> Reportes </a>
             <ul class="dropdown-menu dropdown-menu-fw">
             </ul>
        </li>
       <li class="dropdown dropdown-fw active selected">
             <a href="/usuarios" class="text-uppercase">
                 <i class="fa fa-users"></i> Usuarios </a>
             <ul class="dropdown-menu dropdown-menu-fw">
             </ul>
        </li>

{% endblock%}



{% block content %}
<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger" role="alert">{{ message }}</div>
        </div>
    </div>
</div>
{% endblock %}