{% extends "base.html" %}
{% block head %}
{{ super() }}
        <link href="/static/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/jquery-multi-select/css/multi-select.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />

{% endblock %}


{% block content %}
<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger" role="alert">{{ message }}</div>
        </div>
    </div>
</div>
{% endblock %}