{% extends "base.html" %}
{% block head %}
{{ super() }}
        <link href="/static/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/jquery-multi-select/css/multi-select.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />

{% endblock %}

{% block headtabs %}
      <li class="dropdown dropdown-fw active open selected">
                <a href="{{ url_for('index') }}" class="text-uppercase">
                   <i class="fa fa-globe"></i> S&H </a>
                   <ul class="dropdown-menu dropdown-menu-fw">
                   </ul>
                </li>
      <li class="dropdown dropdown-fw  active selected">
              <a href="{{url_for('ranking')}}" class="text-uppercase">
                  <i class="fa fa-cubes"></i> Rankings </a>
                  <ul class="dropdown-menu dropdown-menu-fw">
                 </ul>
        </li>
        <li class="dropdown dropdown-fw active selected">
             <a href="/ppublicas" class="text-uppercase">
             <i class="fa fa-university"></i> Politicas Pub </a>
             <ul class="dropdown-menu dropdown-menu-fw">
             </ul>
        </li>
         <li class="dropdown dropdown-fw active selected">
             <a href="/corrs" class="text-uppercase">
             <i class="fa fa-th"></i> Correlaciones </a>
             <ul class="dropdown-menu dropdown-menu-fw">
             </ul>
        </li>
         <li class="dropdown        dropdown-fw active selected">
             <a href="/reportes" class="text-uppercase">
                 <i class="fa fa-download"></i> Reportes </a>
             <ul class="dropdown-menu dropdown-menu-fw">
             </ul>
        </li>
      <li class="dropdown dropdown-fw active selected">
             <a href="/usuarios" class="text-uppercase">
                 <i class="fa fa-users"></i> Usuarios </a>
             <ul class="dropdown-menu dropdown-menu-fw">
             </ul>
        </li>

{% endblock%}



{% block content %}
<div class="page-content">
		<!-- BEGIN SELECTOR -->
		<h3>
			El Desempeño Social de los Gobiernos
		</h3>
    <p>
    El siguiente análisis muestra el desempeño social de los gobiernos tanto en medios sociales como en noticias durante el periodo
    <b>{{ sdate }}</b> a <b>{{ ndate }}</b> (7 dias) y muestra la califcaci&oacute;n emitida por entidad federativa para las categorías: Presidente de la Republica,
    Gobernador, Diputados y Senadores, Seguridad, Economía, Servicios P&uacute;blicos y Gobierno en general.
    </p>
		<div class="row">
		<!-- BEGIN STATES SELECTOR -->
    <!--
					<div class="col-md-3">
                                            <label for="select1-single-input-sm" class="control-label">Estado</label>
                                            <select id="select1-single-input-sm" class="form-control input-sm select2-multiple select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                                <optgroup label="General">
                                                    <option value="">General</option>
                                                </optgroup>
                                                <optgroup label="Estados">
						    {% for tuple in estados %}
                                                    <option value="{{ tuple[0] }}">{{ tuple[1] }}</option>
                                               	    {% endfor %}
						 </optgroup>
                                            </select>
                                        </div>-->
		<!-- END STATES SELECTOR -->
		<!-- BEGIN CATEGORY SELECTOR -->
					<!--<div class="col-md-3">
                                            <label for="select2-single-input-sm" class="control-label">Categoria</label>
                                            <select id="select2-single-input-sm" class="form-control input-sm select2-multiple select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                                <optgroup label="General">
                                                    <option value="">General</option>
                                                </optgroup>
                                                <optgroup label="Categorias">
						    {% for item in temas %}
                                                    <option value="{{ item }}">{{ item|capitalize() }}</option>
                                               	    {% endfor %}
						 </optgroup>
                                            </select>
                                        </div>
		<br/>
		<button id="search-button" class="btn btn-circle green btn-sm" type="button">
      Buscar</button>-->
		</div>
			
		<br/>
		<!-- END SELECTORS -->

		<!-- BEGIN STACK CHART CONTROLS PORTLET-->
		<div class="row">
		<div class="col-md-12">

      <!-- BEGIN EXAMPLE TABLE PORTLET-->
      <div class="portlet light bordered">
          <div class="portlet-title">
              <div class="caption font-dark">
                  <i class="icon-list font-dark"></i>
                  <span class="caption-subject bold uppercase"> 
                    Estados que conforman el Índice</span>
              </div>
          </div>
          <div class="portlet-body">
              <div class="table-toolbar">
                  <div class="row">
                      <div class="col-md-6">
                      </div>
                      <div class="col-md-6">
                      </div>
                  </div>
              </div>
              <table class="table table-striped table-bordered table-hover table-checkable order-column" 
                id="sample_general" style="text-align:center;">
                  <thead>
                       <tr>
                         <th class="span2" style="min-width:50px;background:#416CAF;color:white"> <i class="fa fa-sort"></i> Estado </th>
                         <th style="min-width:50px;background:#416CAF;color:white"> <i class="fa fa-sort"></i> Presidente de la Rep&uacute;blica </th>
                         <th style="min-width:50px;background:#416CAF;color:white"> <i class="fa fa-sort"></i> Gobiernadores </th>
                         <th style="min-width:50px;background:#416CAF;color:white"> <i class="fa fa-sort"></i> Gobierno </th>
                         <th style="min-width:50px;background:#416CAF;color:white"> <i class="fa fa-sort"></i> Diputados y Senadores </th>
                         <th style="min-width:50px;background:#416CAF;color:white"> <i class="fa fa-sort"></i> Seguridad </th>
                         <th style="min-width:50px;background:#416CAF;color:white"> <i class="fa fa-sort"></i> Servicios </th>
                         <th style="min-width:50px;background:#416CAF;color:white"> <i class="fa fa-sort"></i> Econom&iacute;a </th>
                         <th style="min-width:50px;background:#416CAF;color:white"> <i class="fa fa-sort"></i> Promedio por Estado </th>
                       </tr>
                  </thead>
                  <tbody>
                       {% for t in scores %}
                           <tr class="odd gradeX
                             {% if scores.index(t) % 2 == 1 %}
                             info
                             {% endif %}
                             ">
                               <td class="span6" style="max-width:1000px"> {{ t[0] }} </td>
                               <td> {{ '%.2f'%(t[1][0]) }} </td>
                               <td> {{ '%.2f'%(t[1][1]) }} </td>
                               <td> {{ '%.2f'%(t[1][2]) }} </td>
                               <td> {{ '%.2f'%(t[1][3]) }} </td>
                               <td> {{ '%.2f'%(t[1][4]) }} </td>
                               <td> {{ '%.2f'%(t[1][5]) }} </td>
                               <td> {{ '%.2f'%(t[1][6]) }} </td>
                               <td> {{ '%.2f'%(t[1][7]) }} </td>
                           </tr>
                        {% endfor %}
                        <tr class="danger">
                          <td>  <i hidden>z</i>Promedio Nacional </td>
                            <td>  {{ '%.2f'%(proms[0]) }}  </td>
                            <td>  {{ '%.2f'%(proms[1]) }}  </td>
                            <td>  {{ '%.2f'%(proms[2]) }}  </td>
                            <td>  {{ '%.2f'%(proms[3]) }}  </td>
                            <td>  {{ '%.2f'%(proms[4]) }}  </td>
                            <td>  {{ '%.2f'%(proms[5]) }}  </td>
                            <td>  {{ '%.2f'%(proms[6]) }}  </td>
                            <td>  {{ '%.2f'%(proms[7]) }}  </td>
                        </tr>
                  </tbody>
             </table>
          </div>
      </div>
      <!-- END EXAMPLE TABLE PORTLET-->
      <b>Notas:</b><br/>
      1.- Los rangos de calificación van de 0 a 100, en donde 0 es muy pobre desempeño y 100 representa un excelente desempeño social<br/>
      2.- La categoría “Servicios” incluye: salud, recolección de basura, servicio de agua y transporte público.<br/>
      3.- La categoría “Gobierno” incluye: frases o menciones en donde se incluye la palabra “Gobierno”<br/>
      4.- El desempeño social es calculado a través del S&H Social Media Performance Index, para conocer más sobre el mismo, visite el sitio:<br/>
      <a href="http://www.gcn-p.com/sesma-husted-social-media-performance-sh/">http://www.gcn-p.com/sesma-husted-social-media-performance-sh/</a>
    </div>
		<!-- END STACK CHART CONTROLS PORTLET-->	
    {% block bootbox %}
      {{ super() }}
    {% endblock %}
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
	<!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="/static/assets/global/scripts/datatable.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/flot/jquery.flot.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/flot/jquery.flot.resize.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/flot/jquery.flot.categories.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/flot/jquery.flot.pie.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/flot/jquery.flot.stack.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/flot/jquery.flot.crosshair.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/flot/jquery.flot.categories.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
  <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
	<!--<script src="static/assets/pages/scripts/charts-flotcharts.min.js" type="text/javascript"/>-->
	<script src="/static/assets/pages/scripts/timeline.js" type="text/javascript"></script>
        <script type="text/javascript">
    	//var topics = [{% for topic in tpars %}"{{topic}}",{% endfor %}];

	</script>
	<!-- END PAGE LEVEL SCRIPTS -->
	<script>
	jQuery(document).ready(function() {
        	$("#search-button").on("click",function(){
			      var estado = $("#select1-single-input-sm").val();
			      var tema = $("#select2-single-input-sm").val();
			      window.location.href = '/index/'+tema;
		      });
          $('#sample_general').dataTable({
              "order": [[ 0, "asc" ]],
              "lengthMenu": [[-1], ["All"]]
           });
    	});
	</script>










  <script type="text/javascript">
      var TableDatatablesManaged = function() {
      var e = function(topic) {
          var e = $("#sample_"+topic);
          e.dataTable({
             language: {
             aria: {
                sortAscending: ": activate to sort column ascending",
                sortDescending: ": activate to sort column descending"
             },
             emptyTable: "No data available in table",
                info: "Showing _START_ to _END_ of _TOTAL_ records",
                infoEmpty: "No records found",
                infoFiltered: "(filtered1 from _MAX_ total records)",
                lengthMenu: "Show _MENU_",
                search: "Search:",
                zeroRecords: "No matching records found",
                paginate: {
                   previous: "Prev",
                   next: "Next",
                   last: "Last",
                   first: "First"
                }
             },
             bStateSave: !0,
             columnDefs: [{
                targets: 0,
                orderable: !1,
                searchable: !1
             }],
             lengthMenu: [
                [5, 15, 20, -1],
                [5, 15, 20, "All"]
             ],
             pageLength: 5,
             pagingType: "bootstrap_full_number",
             columnDefs: [{
                orderable: !1,
                targets: [0]
             }, {
                searchable: !1,
                targets: [0]
             }],
             order: [
                [1, "asc"]
             ]
             });
             jQuery("#sample_"+topic+"_wrapper");
             e.find(".group-checkable").change(function() {
                var e = jQuery(this).attr("data-set"),
                t = jQuery(this).is(":checked");
                jQuery(e).each(function() {
                    t ? ($(this).attr("checked", !0), $(this).parents("tr").addClass("active")) : ($(this).attr("checked", !1), $(this).parents("tr").removeClass("active"))
                }), jQuery.uniform.update(e)
                }), e.on("change", "tbody tr .checkboxes", function() {
                    $(this).parents("tr").toggleClass("active")
                })
           }
          //    };
    //return {
    //    init: function() {
    var topics = [{% for topic in rsearch %}"{{topic}}",{% endfor %}];
        jQuery().dataTable;
            for(topic in topics){
              if (topics[topic] != "")
                jQuery().dataTable    && (e(topics[topic]))
                      }
    //    }
    //}
    //}
};
App.isAngularJsApp() === !1 && jQuery(document).ready(function() {
      TableDatatablesManaged();
});
  </script>























{% endblock %}

